input[type=datetime-local], input[type=password], input[type=search], input[type=text] {
    font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
}
.bp_SearchBar {
    background-color: #484873;
}

.bp_CommandBarSearch {
    background-color: #8383A0;
}

.mx_UserMenu_dnd:before, .nv_UserMenu:before {
    background-color: #9090AA;
}

.mx_EventTile_line {
    background: #E8E8F3;
}
.mx_EventTile_messageIn .mx_EventTile_line {
        background: #ffffff;
        color: #000000;
}
.mx_RoomView_messageListWrapper {
    background-color: #F5F5F5;
}
.mx_EventTile_messageOut .mx_EventTile_line {
    background: #E5E5F1;
}
.mx_EventTile_body {
    color: #000;
}
.mx_EventTile_messageOut .mx_EventTile_line .mx_ReplyThread {
    background: rgba(55,58,67,.24);
    color: #000;
}
.AppControls-button svg {
    color: #9191AB;
}
.mx_EventTile_messageOut .mx_EventTile_line .mx_EventTile_content .mx_EventTile_body.markdown-body, .mx_EventTile_messageOut .mx_EventTile_line .mx_EventTile_content a {
    color: #000;
}
.mx_EventTile_messageOut .mx_LinkPreviewWidget {
    color: #000;
}
.mx_EventTile_message .mx_EventTile_line,.mx_EventTile_sticker .mx_EventTile_line {
    border-radius: 2px 2px 2px 2px;
}
.mx_EventTile_message.mx_EventTile_continuation .mx_EventTile_line,.mx_EventTile_sticker.mx_EventTile_continuation .mx_EventTile_line {
    border-radius: 2px
}
.mx_EventTile_message.mx_EventTile_last .mx_EventTile_line,.mx_EventTile_message.mx_EventTile_lastInGroup .mx_EventTile_line,.mx_EventTile_message.mx_EventTile_lastInSection .mx_EventTile_line,.mx_EventTile_sticker.mx_EventTile_last .mx_EventTile_line,.mx_EventTile_sticker.mx_EventTile_lastInGroup .mx_EventTile_line,.mx_EventTile_sticker.mx_EventTile_lastInSection .mx_EventTile_line {
    border-bottom-left-radius: 2px!important;
    border-bottom-right-radius: 2px!important
}
a:hover, a:link, a:visited {
    color: #8D8EB6;
    font-weight: 600;
}
.mx_TabbedView_tabLabel {
    border-radius: 0px;
}
.mx_TabbedView_tabLabel_active {
    background-color: #EDEBE9;
    color: #000;
}
.mx_TabbedView_tabLabel_active .mx_TabbedView_maskedIcon:before {
    background-color: #000;
}
.mx_Dialog {
    background-color: #ffffff;
    border-radius: 4px;
}
.mx_RoomHeader_wrapper {
    background-color: #f5f5f5;
}
.mx_MessageComposer {
    border: 1px solid #cacfd2;
    background: #f5f5f5;
}
.mx_MessageComposer_wrapper {
        background: #fff;
        border: 0px solid #e4e4f7;
        border-radius: 0px;
}
.mx_EventTile_messageOut .mx_EventTile_line .mx_EventTile_content .mx_EventTile_body.markdown-body, .mx_EventTile_messageOut .mx_EventTile_line .mx_EventTile_content a {
    color: #8D8EB6;
    text-decoration: underline;
}
.mx_EventTile_messageOut .mx_EventTile_line .mx_EventTile_content .mx_EventTile_body.markdown-body, .mx_EventTile_messageOut .mx_EventTile_line .mx_EventTile_content a {
    color: #fff;
}
.bp_ReplyThread_replyTo strong {
    font-weight: 600;
}